<div class="single-post">
    <div class="title-box">
        <h1>{{discussion_title}}</h1>
        <div>
            <i class="fa-solid fa-thumbs-up"></i>
            <i  class="fa-solid fa-thumbs-down"></i>
        </div>
    </div>

    <div class="about">
        <h1 class="author">Samantha Martin</h1><span class="date-posted">8:00</span>
    </div>

    <h1 class="details">
        {{discussion_description}}
    </h1>
</div>