<a href="/chatroom">
    <div class="single-post">
        <div class="title-box">
            <h1>{{project_name}}</h1>
            <div>
                <i class="fa-solid fa-thumbs-up"></i>
                <i  class="fa-solid fa-thumbs-down"></i>
            </div>
        </div>

        <div class="about">
            <h1 class="author">{{ user.username }}</h1><span class="date-posted">{{ format_date user.createdAt }}</span>
        </div>

        <h1 class="details">
            {{project_description}}
        </h1>
    </div>
</a>