* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.person img {
    display: flex;
    align-items: flex-end;
    background-color: pink;
}
.vector {
    vertical-align:bottom;
    background-color: pink;
}

.vector img {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: antiquewhite;
}
