<header>
    <div>
        <img id="logo" src="/img/logo.png" width="56.27" height="63">
        <span id="dashboard-title">Dashboard</span>
    </div>
    {{#if loggedIn}}
    <form action="/api/users/logout" method="post">
        <button id="logout-button">Logout</button>
    </form>
    {{else}}
    <button id="login-button" onclick="document.location.replace('/login');">Login</button>
    {{/if}}
</header>


<div class="dashboard">
    <div>
        <i class="fa-solid search-icon fa-magnifying-glass"></i>
        <input class="search" type="text" placeholder="Mike Johnson">
    </div>

    <div class="options">
        <button id="create-button">Create A Chat</button>
        <button id="github-button" onclick="document.location.replace('/project');">Github</button>
        <button id="other-button" onclick="document.location.replace('/discussion');">Discussion</button>
    </div>


    <div class="users">
        
        <div>
            <div id="outer-box">
                <div id="user-box">
                    <img src="./img/online-status.png" width="10" height="10">
                    <span class="name">John Appleseed</span>
                </div>
                <span id="time-joined">8:00</span>
            </div>
            <hr>
        </div>

        <div>
            <div id="outer-box">
                <div id="user-box">
                    <img src="./img/online-status.png" width="10" height="10">
                    <span class="name">John Appleseed</span>
                </div>
                <span id="time-joined">8:00</span>
            </div>
            <hr>
        </div>

    </div>

    {{#if discussions}}
    <div class="posts">
        
        {{#each discussions as |discussion|}}
        {{> discussion-details}}
        {{/each}}
        
    </div>
    {{else}}
    <div class="posts">
        
        {{#each projects as |project|}}
        {{> project-details}}
        {{/each}}
        
    </div>
    {{/if}}

</div>

<div id="create-box" class="create-box">

    <div class="create">
        <form id="post-form">
            <div class="title-box-2">
                <h1>Title</h1>
                <input id="title-input" name="title" class="title-input" placeholder="What is the most interesting thing you know about space?"type="text">
            </div>

            <div class="description-box">
                <h1>Description</h1>
                <textarea id="description-input" name="description" cols="30" rows="10" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,"></textarea>
            </div>

            <div class="topic-box">
                <div class="topic-button-box" id="subject-box"  name="default">
                    <button id="github-subject-button" type="button">Github</button>
                    <button id="other-subject-button" type="button">Other</button>
                </div>
            </div>        
            <button id="create-post-button" type="submit">Create Chat Room</button>
        </form>
    </div>

    <i id='exit-button' class="fa-solid exit fa-circle-xmark"></i>
</div> 
<script src="/js/dashboard-styles.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/newpost.js"></script>
