<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png">
    <title>GitChat</title>
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/chatroom.css">
    <script src="https://kit.fontawesome.com/17aa9ecf2c.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <div>
            <img id="logo" src="/img/logo.png" width="56.27" height="63">
            <span id="dashboard-title">Dashboard</span>
        </div>

        <button id="logout-button">Logout</button>
    </header>

    <div class="chatroom">
    <div class="tabs">
        <button id="details">Details</button>
        <button id="users">Users</button>
    </div>

    <div class="view">

        <div class="details">
            <h1 id="post-title">
                What’s The Best Programming Language?
            </h1>

            <p id="post-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>

            <div>
                <h1 id="author"></h1>
                <h1 id="time-posted"></h1>
            </div>
        </div>


    </div>

    <div class="chat">

    </div>
    </div>

</body>
<script src="/js/dashboard-styles.js"></script>
</html>