    <img src="img/landingimg.png" alt="Landing Page" />

    <button class="btn btn--primary login" onclick="document.location.replace('/login');" >Login</button>

    <button class="btn btn--secondary signup" onclick="document.location.replace('/signup');">Get Started</button>

    {{!-- <script src="/js/landing.js"></script> --}}