html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


body {
  background-color: rgb(255, 255, 255);
}


img {
  height: 100vh;
  max-width: 100vh;
}

.btn--primary {
  position: absolute;
  width: 180px;
  height: 75px;
  left: 670px;
  top: 60px;
  border-radius: 20px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 550;
  font-size: 40px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 25px 25px;
  color: #050505;
  background: rgb(81, 25, 133);
  color: white;
  box-shadow: 8px 12px 10px 2px #000000;
}

.btn--primary:hover {
  background: rgb(166, 15, 166);
  cursor:grab
}

.btn--secondary {
  position: absolute;
  width: 180px;
  height: 80px;
  left: 97px;
  top: 540px;
  border-radius: 20px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 550;
  font-size: 35px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 25px 25px;
  background: rgb(43, 158, 190);
  color: white;
  box-shadow: 8px 12px 10px 2px #000000;

}
.btn--secondary:hover {
  background: rgb(24, 206, 167);
  cursor:grab

}
